.dialog {
  &__user {
    .el-dialog {
      width: 540px;
    }

    .el-input,
    .el-textarea {
      width: 250px;
    }
  }

  &__role {
    .el-dialog {
      width: 540px;
    }

    .el-input,
    .el-textarea {
      width: 250px;
    }
  }

  &__category {
    .el-dialog {
      width: 450px;
    }

    .el-dialog__body {
      padding-bottom: 10px;
    }

    .el-input,
    .el-textarea {
      width: 250px;
    }
  }
}
